body {
    background-color: #dedede;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: "Sans";
    font-size: 16px;
}

div.topbar {
    background-color:#00ff00;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

nav.toolbar {
    background-color:#909090;
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
}

div.viewport {
    background-color: #e0e0e0;
    overflow: hidden;
    bottom: 10px;
    top: 10px;
    left: 0px;
    position: fixed;
}

div.main {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 1000px;
    position: fixed;
    left: 0px;
    -webkit-transition: all 0.2s ease-out;
}

div.column {
    float: left;
    top: 0;
    position: absolute;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
}

label {
    padding-left: 50px;
    margin-bottom: 10px;
}

option {
    font-size: 16px;
}

select{
    position: fixed;
    width: 350px;
    left: 350px;
    font-size: 16px;
    height: 30px;
    background-color: #eeeeee;
    color: #000000;
}

button.toolbar {
    float: right;
    margin: 5px;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
}
