body {
    background-color: #dedede;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: "Sans";
    font-size: 16px;
}

img#logo {
    float: right; 
}

div.topbar {
    background-color:#909090;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

nav.toolbar {
    overflow: hidden;
    background-color:#909090;
    margin: 0px 0px 0px 0px;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-height: 60px;
}

div.viewport {
    background-color: #e0e0e0;
    overflow: hidden;
    bottom: 10px;
    top: 10px;
    left: 0px;
    position: fixed;
}

div.main {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 1000px;
    position: fixed;
    left: 0px;
    -webkit-transition: all 0.2s ease-out;
}

div.column {
    float: left;
    top: 0;
    position: absolute;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
}

label {
    padding-left: 50px;
    margin-bottom: 10px;
}

option {
    font-size: 16px;
}

select{
    position: fixed;
    width: 350px;
    left: 350px;
    font-size: 16px;
    height: 30px;
    background-color: #eeeeee;
    color: #000000;
}

button.toolbar {
    float: right;
    margin: 5px;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
}

div.steps {
    margin-top: 10px;
    background-color: #909090; 
    color: #A0A0A0;
    font-size: 25px;
    width: 20px;
    float:left;
    display: block;
    vertical-align: middle;
}

div.steps_long {
    margin-top: 10px;
    vertical-align: middle;
    font-size: 25px;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #909090; 
    color: #e0e0e0;
    float:left;
    max-width: 0px;
    -webkit-transition: max-width 0.2s ease-out;
}
