Package: blankon-installer
Version: 0.1.61
Architecture: amd64
Maintainer: BlankOn Developers <BlankOn-dev@googlegroups.com>
Installed-Size: 449
Depends: parted, grub-pc, passwd, initramfs-tools, blankon-repository-setup, plymouth-theme-blankon, libc6 (>= 2.4), libgee2 (>= 0.5.0), libglib2.0-0 (>= 2.18.0), libgtk-3-0 (>= 3.0.0), libjavascriptcoregtk-3.0-0 (>= 1.5.1), libparted2 (>= 3.1), libwebkitgtk-3.0-0 (>= 1.3.10)
Conflicts: debian-installer-launcher
Section: admin
Priority: optional
Homepage: https://bitbucket.org/mdamt/blankon-installer
Description: BlankOn Installer
 BlankOn Installer
